@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Nunito:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  user-select: none;
}

.container {
  width: 80%;
  max-width: 340px;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  top: 10%;
  gap: 0.8rem;
  background-color: rgb(251, 234, 214);
  padding-bottom: 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #888888;
  margin: 30px auto;
}
#input-val {
  width: 80%;
  padding: 0.8em;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: #e6e1e1;
  border: 0.2px solid rgb(212, 117, 212);
}

#add-btn {
  width: 80%;
  padding: 0.8em;
  border-radius: 5px;
  background-color: rgb(151, 52, 52);
  border: none;
  color: white;
}
button:hover {
  background-color: rgb(47, 11, 11);
  color: white;
}
#cat-img {
  display: flex;
  width: 50%;
  height: auto;
  align-self: center;
}

#shoping-list {
  list-style: none;

  color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
#shoping-list > li {
  padding: 0.7em;
  border-radius: 10px;
  margin: 5px;
  background-color: #ecbc81;
  flex-grow: 1;
  padding-right: 0;
}
li > img {
  width: 15px;
  height: auto;
}
.remove-btn {
  font-family: "Agdasima", sans-serif;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: red;
  padding: 4px;
}

ul li:hover {
  background-color: #ffecc7;
  cursor: pointer;
}

/* Style the footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Style the GitHub icon */
footer img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 5px;
}
